/* 定义统一css */
/* 统一圆角按钮 */
.radius-btn{
    background: #40A9FF;
    font-size: initial;
    color: #fff;
    height: 70px;
    width: 90%;
    border: none;
    border-radius: 50px;
    margin-right: 10%,
}
