/* 统一圆角按钮 */
.radius-btn-small{
    background: #40A9FF;
    border-radius: 40px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    width: 7em
    
}
.radius-btn-small::after{
    border: none;
      
}
