
.recharge-wrap {
    padding-top: 20px;
    width: 100%;
    min-height: 100vh;
    background: #141414;
}

.recharge-setmeal{
    margin-top: 20px;
    
    min-height:100px;
    width:100%;
    background:#141414;
    color: #ffffff;
    // padding: 0 20px;
    padding-bottom: 20px;
   
}
.recharge-pay{
    margin-top: 20px;
    min-height:100px;
    width:100%;
    background:#141414;
    color: #ffffff;
    padding: 0 20px;
}
.recharge-btn{
    background-color: #40A9FF;
    border: none;
    color:#ffffff;
    border-radius: 40px;
    font-size: 28px;
}
.recharge-btn::after{
    border: none;
    
}
